<a href="https://colab.research.google.com/github/gabimalaspina/TCC_Time_Series/blob/main/Etapa_01_selecao_portfolio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<font size=6> **Etapa 1 - Seleção do portfólio**

In [1]:
from google.colab import drive

# Monta o Drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

#**Carregamento dos dados**

In [3]:
caminho_drive = '/content/drive/My Drive/Colab Notebooks/TCC/resultados'

In [7]:
dados_b3 = pd.read_csv(f'{caminho_drive}/dados_b3_revisado')

In [8]:
dados_b3

,Código,Empresa,Tipo,Qtde. Teórica,Part. (%),Volume Médio (3m),Capitalização,Receita,Relação P/L,Beta
0,RRRP3,3R Petroleum ON,ON NM,196144421,0.350,5020000.0,6.690000e+09,1.530000e+09,37.16,0.511
1,ALSO3,Aliansce Sonae ON,ON NM,330109863,0.302,3250000.0,9.970000e+09,1.130000e+09,15.42,0.629
2,ALPA4,Alpargatas PN,PN N1,202765994,0.103,4850000.0,6.330000e+09,4.180000e+09,31.61,0.405
3,ABEV3,Ambev ON,ON,4386652506,3.207,34890000.0,2.114100e+11,7.971000e+10,14.60,0.663
4,ARZZ3,Arezzo ON,ON NM,60758326,0.245,1310000.0,8.260000e+09,4.020000e+09,19.07,0.736
...,...,...,...,...,...,...,...,...,...,...
83,VALE3,Vale ON,ON NM,3394804584,15.837,23830000.0,3.792800e+11,2.265100e+11,4.11,0.807
84,VIIA3,Via ON,ON NM,1576975642,0.164,79470000.0,2.970000e+09,2.205000e+10,-19.68,1.530
85,VBBR3,Vibra ON,ON NM,1114442976,0.902,10330000.0,1.642000e+10,1.284900e+11,8.19,0.649
86,WEGE3,Weg ON,ON NM,1318583017,2.816,7060000.0,1.658300e+11,2.926000e+10,39.67,0.564
87,YDUQ3,YDUQS ON,ON NM,296015511,0.109,4950000.0,1.950000e+09,3.460000e+09,-42.14,1.190

#**Cálculo do score**

#**Seleção dos ativos**